<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ServeleteUser</servlet-name>
  	<display-name>ServeleteUser</display-name>
  	<description></description>
  	<servlet-class>com.kevin.controlador.ServeleteUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServeletController</servlet-name>
  	<display-name>ServeletController</display-name>
  	<description></description>
  	<servlet-class>com.kevin.controlador.ServeletController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServeleteUser</servlet-name>
  	<url-pattern>/ServeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServeletController</servlet-name>
  	<url-pattern>/ServeletController</url-pattern>
  </servlet-mapping>
</web-app>
